<%- include('../includes/header.ejs', { titulo : 'Lista Professores'}) %>

<main>
    <h2> Lista de Professores </h2>

    <a href="/professores/novo" class="btn btn-primary"> Adicionar professor</a>

    <% if (typeof mensagem != 'undefined') { %>
        <p class="erro"> <%=mensagem %> </p>
    <% } %>

    <form action="/professores/" method="GET" class="form form-consulta"> 
        <input type="text" name="busca" 
            value="<%= busca %>"
            placeholder="Buscar professor ou disciplina" />
        <button type="submit" class="btn btn-primary"> Buscar </button>
        <select name="ordenar" onchange="this.form.submit()">
            <option value="nome_disciplina"
            <%= ordenar == 'nome_disciplina' ? 'selected' : '' %>> Ordernar por disciplina </option>
            <option value="nome_professor"
            <%= ordenar == 'nome_professor' ? 'selected' : '' %>> Ordernar por professor </option>
        </select>
    </form>

    <table class="dados-table">
        <thead> 
            <tr> 
                <th> Nome </th>
                <th> Telefone </th>
                <th> Formação </th>
                <th> Ações </th>
            </tr>
        </thead> 
        <tbody>
            <% for (let professor of vetorDados) { %>
                <tr>
                    <td> <%= professor.nome_professor %> </td>
                    <td> <%= professor.telefone %> </td>
                    <td> <%= professor.formacao %> </td>
                    <td> 
                        <a href="/professores/<%= professor.id_professor %>/editar" class="btn btn-edit"> Editar</a>
                        <form action="/professores/<%= professor.id_professor %>/deletar" method="POST">
                            <button type="submit" class="btn btn-delete"> Excluir </button>
                        </form>
                    </td>
                </tr>
                
            <% } %>
        </tbody>
    </table>

    

</main>

<%- include('../includes/footer.ejs',) %>

